<div container="fluid" class="logo">

  <img src="/assets/home/logo.png">
</div>

<div container="fluid" class="back">


  <img src="/assets/rules/capt1ok.png">
  <img src="/assets/rules/capt2ok.png">
  <img src="/assets/rules/capt3ok.png">
  <img src="/assets/rules/capt4ok.png">
  <img src="/assets/rules/capt5ok.png">
  <img src="/assets/rules/capt6ok.png">
  <img src="/assets/rules/capt7ok.png">
  <img src="/assets/rules/capt8ok.png">
  <img src="/assets/rules/capt13ok.png">
  <img src="/assets/rules/capt14ok.png">
</div>