<div class="container-fluid">
    <pan-zoom [config]="panZoomConfig">
        <div *ngIf="cases">
          <div class="row" *ngFor="let row of cases; let i=index" id="row{{i}}">
            <div *ngFor="let c of row; let j=index" class="cell" id="cell{{i}}-{{j}}" (click)="game.onTileClick(i,j)">
              <img *ngIf="c" src="{{c.img}}" class='tuile rotate{{c.rotation}}' alt="">
              <img *ngIf="c != null" src="../../assets/family/greyjoy.png" class='imgModalVoleur voleur{{c.position}}' alt="">
            </div>
          </div>
        </div>
    </pan-zoom>
</div>