.row {
    width: max-content;
    display: flex;
    flex-direction: row;
}
.cell {
 
  display: block;
  height: 150px;
  width: 150px;
  border: solid black 1px;
}

.tuile {
  height: 150px;
  width: 150px;
}