.row {
  width: max-content;
  display: flex;
  flex-direction: row;
}
.cell {
  display: block;
  height: 150px;
  width: 150px;
  border: dotted 0.5px #935116;
}

.tuile {
  height: 150px;
  width: 150px;
  transform-origin: top left;
  -ms-transform-origin: top left;
}
/* CSS pour la rotation de la tuile */

#container {
  overflow: hidden;
  position: absolute;
}

.rotate90 {
  transform: rotate(90deg) translateY(-100%);
  -webkit-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
}
.rotate180 {
  transform: rotate(180deg) translate(-100%, -100%);
  -webkit-transform: rotate(180deg) translate(-100%, -100%);
  -ms-transform: rotate(180deg) translateX(-100%, -100%);
}
.rotate270 {
  transform: rotate(270deg) translateX(-100%);
  -webkit-transform: rotate(270deg) translateX(-100%);
  -ms-transform: rotate(270deg) translateX(-100%);
}

.container-fluid {
  height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    background-image: url(../../assets/map/fondmap2.jpg);
    opacity: 1;
    width: 100%;
    background: cover;
}


.imgModalVoleur {
  position: relative;
}

.voleurHaut {
position: relative;
top: -94%;
right: -37%;
width: 45px;
border: 1px dashed white;
}

.voleurDroite {
position: relative;
top: -60%;
right: -66%;
width: 45px;
border: 1px dashed white;
}

.voleurBas {
position: relative;
bottom: 33%;
right: -38%;
width: 45px;
border: 1px dashed white;
}

.voleurGauche {
position: relative;
top: -60%;
left: 9%;
width: 45px;
border: 1px dashed white;
}

.voleurCentre {
position: relative;
top: -60%;
right: -38%;
width: 45px;
border: 1px dashed white;
}

.voleurAucun {
display: none;
}

