.stats {
  margin-top: 1%;
}

#logo {
  width: 20%;
  height: 15%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.imageTeam {
  width: 80px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.playerName {
  padding-top: 5%;
  font-family: "Trade Winds", cursive;
}

h3 {
  color:white;
  text-shadow: 0px 0px 4px black;
  font-family: "Trade Winds", cursive;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
td {
  height: 30px;
  vertical-align: top;
}

tr {
  font-size: 1.2em;
  color:white;
  text-shadow: 0px 0px 4px black;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.bandeau {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  background-image: url(../../assets/country.jpg);
  background: cover;
}
.bandebas {
  z-index: 20;
  height: 40px;
  background-image: url(../../assets/grass2.png);
  background-repeat: repeat-x;
}

.activePlayer {
  color: red;
}