<div class="container-fluid bandeau">
    <div class="row">
        <img id="logo" src="/assets/logonav.png" routerLink="/retour-menu">

        <div *ngFor="let player of game.playersArray">
            <div class="playerName">
                <td>
                    <tr><img class="imageTeam" src="{{player.image}}"></tr>
                </td>
                <td>
                    <h3>{{player.name}}</h3>
                    <tr> Score : {{player.score}}</tr>
                    <tr>Voleurs : {{player.token}}</tr>
                </td>
            </div>

        </div>
    </div>
    <div class="bandebas"></div>
</div>