/* Style des boutons */
.tilesleft {
  text-align: center;
  color: #374b9e;
  font-size: 1.5em;
  font-variant:small-caps;
  font-weight: bold;
  text-shadow: 3px 3px 2px #fff
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #374b9e;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px rgb(73, 73, 73);
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #374b9e;
  box-shadow: 0 5px rgb(73, 73, 73);
  transform: translateY(4px);
}

.btn.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #20b879;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px rgb(73, 73, 73);
}

.btn.btn-primary:hover {
  background-color: #b44d4d;
}


/* Taille de la tuile de la pioche */

img {
  width: 300px;
}

.pioche {
  width: 50%;
}
.picktile {
  margin-bottom: 20px;
}

/* CSS pour la rotation de la tuile */

#container {
    overflow: hidden;
  }
  
  #image {
    transform-origin: top left;
    -ms-transform-origin: top left;
  }
  
  .rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
  }
  .rotate180 {
    transform: rotate(180deg) translate(-100%, -100%);
    -webkit-transform: rotate(180deg) translate(-100%, -100%);
    -ms-transform: rotate(180deg) translateX(-100%, -100%);
  }
  .rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
  }

  /* CSS pour le flip de la tuile */

  .flip-box {
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow:2px 2px 2px gray;
    backface-visibility: hidden;
  }
  
  .flip-box-back {
    transform: rotateY(180deg);
  }
  
  .flip-box-inner.is-flipped {
    transform: rotateY(180deg);
  }