<div class="text-center">

  <button (click)="game.pickedTile();flipIt()">
     {{game.totalTile}} tuiles restantes
  </button>
  <br>
  <br>
  <div class="flip-box">
    <div class="flip-box-inner" [class.is-flipped]="flipped">
      <div class="flip-box-front">
        <img *ngIf="game.currentTile" id="image" [src]="game.currentTile.img"
          [ngClass]="{'rotate90': game.currentRotation == 90 , 'rotate180': game.currentRotation == 180, 'rotate270': game.currentRotation == 270}">
      </div>
      <div class="flip-box-back">
        <img src="../../assets/backcard.jpg">
      </div>
    </div>
  </div>
  <br>
  
  <button (click)="rotateTile()">Pivoter la tuile!</button>
</div>


