#container {
    overflow: hidden;
    position: absolute;
  }

  #image {
    transform-origin: top left;
    -ms-transform-origin: top left;
  }
  .rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
  }
  .rotate180 {
    transform: rotate(180deg) translate(-100%, -100%);
    -webkit-transform: rotate(180deg) translate(-100%, -100%);
    -ms-transform: rotate(180deg) translateX(-100%, -100%);
  }
  .rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
  }

  .imgModalVoleur {
    position: relative;
  }

  .imgModal {
    width: 50%;
}

.voleurHaut {
  position: absolute;
  top: 8%;
  right: 43%;
  width: 60px;
}

.voleurDroite {
  position: absolute;
  top: 42%;
  right: 27%;
  width: 60px;
}

.voleurBas {
  position: absolute;
  bottom: 6%;
  right: 43%;
  width: 60px;
}

.voleurGauche {
  position: absolute;
  top: 42%;
  left: 28%;
  width: 60px;
}

.voleurCentre {
  position: absolute;
  top: 42%;
  right: 44%;
  width: 60px;
}

.voleurAucun {
  display: none;
}
  