button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #374b9e;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px rgb(73, 73, 73);
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #374b9e;
  box-shadow: 0 5px rgb(73, 73, 73);
  transform: translateY(4px);
}


.btn.btn-primary:hover {
  background-color: #3e8e41;
}
h5, p{
  font-family: "New Rocker", cursive;
  color: #000000;
}
