button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #374b9e;
  box-shadow: 0 5px rgb(73, 73, 73);
  transform: translateY(4px);
}

.btn.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #20b879;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px rgb(73, 73, 73);
}

.btn.btn-primary:hover {
  background-color: #b44d4d;
}
h5 {
  font-family: "New Rocker", cursive;
  color: #374b9e;
}
