.background {
  background-image: url(../../assets/home/countryburn.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 110%;
}
.tableaujoueurs,
.enterPlayer {
  background-color: #ffffff65;
}
.inputnom {
  margin: 20px;
}
.titre {
  width: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.start {
  font-size: 2vh;
  background-color: #374b9e;
  margin-left: 50%;
  width: 20vw;
  box-shadow: 10px 5px 5px rgb(61, 66, 77);
}
.validate {
  font-size: 2vh;
  background-color: #374b9e;
  box-shadow: 10px 5px 5px rgb(61, 66, 77);
}

.start:hover {
  box-shadow: 10px 5px 5px rgb(61, 66, 77);
  z-index: 2;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 100ms ease-in;
  transform: scale(1.5);
  background-color: #374b9e;
}

.familyimage {
  width: 70px;
  padding: 8px;
}
div {
  font-family: "New Rocker", cursive;
  color: #374b9e;
  padding: 10px;
}
// font-family: 'New Rocker', cursive;
// font-family: 'Trade Winds', cursive;
