.background{
    
    background-image:url(../../assets/home/fond2.jpg);
    // height: 1280px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.78;
    
} 


.titre{

position: absolute;
width: 40%;

}

.start{

font-size: 2vh;
background-color: #374b9e;
margin-left: 50%;
width: 20vw;
}

.start:hover {
box-shadow: 0px 0px 10px #000000;
z-index: 2;
-webkit-transition: all 100ms ease-in;
-webkit-transform: scale(1.5);
-ms-transition: all 100ms ease-in;
-ms-transform: scale(1.5);
-moz-transition: all 100ms ease-in;
-moz-transform: scale(1.5);
transition: all 100ms ease-in;
transform: scale(1.5);
background-color: #374b9e;
}

.container{

    padding-left: 50%;
    padding-top: 20%;
   

}
.familyimage {
    width: 50px;
    padding: 5px;
}

.inlineblock {
    display: inline-block;
}

