body{
    
    background-image:url(../../assets/home/fond2.jpg);
    height: 1280px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.78;
    
} 


img{

    width: 50vw;
    display: block;
    margin-left: 50%;
    margin-right: auto ;

}

button{

font-size: 5vh;
background-color: #374b9e;
margin-left: 50%;
width: 20vw;
}

button:hover
{
box-shadow: 0px 0px 10px #000000;
z-index: 2;
-webkit-transition: all 100ms ease-in;
-webkit-transform: scale(1.5);
-ms-transition: all 100ms ease-in;
-ms-transform: scale(1.5);
-moz-transition: all 100ms ease-in;
-moz-transform: scale(1.5);
transition: all 100ms ease-in;
transform: scale(1.5);
background-color: #374b9e;
}

.container{

    padding-left: 50%;
    padding-top: 20%;
   

}