<div class="background container-fluid">

  <div class="row text-center">
    <div class="col">
      <img class="titre" src="../../assets/home/logo.png">
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <button type="button" class="btn btn-dark start justify-content-center" *ngIf="4>tableLength" routerLink="/game-start">Lancer
        l'aventure</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="enterPlayer col-5">

        <h4 class="pickfamily text-center">Ajoutez un joueur</h4>
        <form (ngSubmit)="submitPlayer()" name="joueur">
          <h4><label class="" for="user" class="text-center">Entrez votre nom</label></h4>
          <input class="inputnom" name="user" type="text" [(ngModel)]="game.name" #user="ngModel" maxlength="10">
          <h4 class="pickfamily">Choisissez votre Famille</h4>
          <div>
            <input type="radio" [(ngModel)]="game.family" name="family" value="arryn">
            <label for="arryn"><img class="familyimage" src="../../assets/family/arryn.png" alt="arryn"></label>

            <input type="radio" [(ngModel)]="game.family" name="family" value="greyjoy">
            <label for="greyjoy"><img class="familyimage" src="../../assets/family/greyjoy.png" alt="greyjoy"></label>

            <input type="radio" [(ngModel)]="game.family" name="family" value="lannister">
            <label for="lannister"><img class="familyimage" src="../../assets/family/lannister.png"
                alt="lannister"></label>

            <input type="radio" [(ngModel)]="game.family" name="family" value="stark">
            <label for="stark"><img class="familyimage" src="../../assets/family/stark.png" alt="stark"></label>

            <input type="radio" [(ngModel)]="game.family" name="family" value="targa">
            <label for="targa"><img class="familyimage" src="../../assets/family/targa.png" alt="targa"></label>
          </div>
          <br>
          <button class="btn btn-dark validate" type="submit">valider le joueur</button>
        </form>
      </div>

      <div class="col-5 tableaujoueurs">
        <h4 class="placesleft text-center">Reste {{tableLength}} places dans la partie</h4>
        <div *ngFor="let player of game.playersArray">
          <td>
            <img class="familyimage" src="{{player.image}}" alt="">
          </td>
          <td>
            <h4>{{player.name}}</h4>
          </td>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>